*{
    padding:0 ;
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s, box-shadow 0.5s;
}
.main{
    width: 75vw;
    height: 75vh;
    max-width:600px;
    border: none;
    display: flex;
    border-radius: 20px;
    box-shadow:0 15px 35px rgba(0,0,0,.25);
    transition: background-color 0.5s, box-shadow 0.5s;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 7%;
    align-items: center;
    transition: transform 0.6s ease;
    
}
.left h1{
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 40px;
    width: 250px;
    height: 60px;
    display: flex;
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: #3B82F6;
    color: #fff;
}
.left input{
    margin-top: 10%;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid;
}
.left input::placeholder{
    padding-left: 10px;
}
.left button{
    margin-top: 40px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background:#3B82F6;
    color: #fff;
    transition: transform 0.75s ease;
    
}
.left #Login{
    transition: 0.75s ease;
    box-shadow: 0px 0px 5px #000;
}
#path{
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
    background: none;
    border-bottom: 1px solid;
    color: #000;
}
.right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 7.5%;
   border: none;
    border-radius: 10px;
    background: #3B82F6;
    color: #fff;
    box-shadow: -10px 0px 10px -10px #000;
    transition: transform 0.6s,background-color 0.5s, box-shadow 0.5s;
    
}
.right p{
    margin-top: 30px;
}


.main.sign .right{
    transform: translateX(-100%);  
}
.main.sign .left{
    transform: translateX(100%);
    
}
input:focus{
    outline:none;
    border:2px solid #60A5FA;
    box-shadow:0 0 10px #60A5FA;
}
.left button:hover{
    transform: scale(1.05);
}
.left #Login:hover{
    background: #022865;
}
i{
    position: fixed;
    top: 5vh;
    right: 5vh;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    padding: 7px;
    border-radius: 50%;
    background-color: rgba(0,0,0);
    cursor: pointer;
    
}
.fa-solid{
    font-size: 35px;
    color: #fff;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, border-color 0.5s;
}
body.bg .main{
    background: #212121;
    box-shadow: 0px 0px 15px #fff;
}
body.bg .main .right{
    background: #7C3AED;
    box-shadow: -10px 0px 15px -10px #fff;
}
body.bg .main .fa-solid{
    color: #000;
}
body.bg .main i{
    background: rgba(255,255,255,0.7);
}
body.bg{
    background: #212121;
}
body.bg .main .left button{
    background-color: #7C3AED;
}
body.bg .main .left #path{
    color: white;
    border-bottom: 1px solid white;
}
body.bg .main .left h1{
    background-color: #7C3AED;
}
body.bg .left input{
    background:#2A2A2A;
    color:white;
    border:1px solid #555;
}

body.bg .left input::placeholder{
    color:#BBBBBB;
}
